STAND=dev
FRONTEND_URL=http://localhost:3000

JWT_SECRET=secret

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_NAME=main
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

COOKIE_DOMAIN=localhost